---
import { Image } from "astro:assets";
import {
  ButtonStyledGithub,
  ButtonStyledMastodon,
  ButtonStyledRuby,
  HeroAbout,
  ListSubStats,
  MarkdownCode,
} from "@drowr/licid";
import { Markdown } from "@astropub/md";
import Layout from "@/layouts/Layout.astro";
import { getStaticPage } from "@/lib/client";
import PortraitWhite from "@/assets/images/portrait-white.png";
import PortraitBlack from "@/assets/images/portrait-black.png";

const data = await getStaticPage("about");
const page = data.publication.staticPage;

// use https://substats.swo.moe
const itemsSocialStat = [
  {
    icon: ButtonStyledGithub,
    platform: "Github",
    link: "https://github.com/szorfein",
    text: "Followers",
    api: "github/szorfein",
  },
  {
    icon: ButtonStyledMastodon,
    platform: "Mastodon",
    link: "https://mastodon.social/@szorfein",
    text: "Followers",
    api: "mastodon/szorfein@mastodon.social",
  },
  {
    icon: ButtonStyledRuby,
    platform: "Rubygems",
    link: "https://rubygems.org/profiles/szorfein",
    text: "Followers",
  },
];
---

<Layout
  title={page?.title}
  description={page?.seo?.description}
  author={data?.publication?.author.name}
>
  <div class="container">
    <HeroAbout title={page?.title} />

    <!--
    <img src={page?.ogMetaData?.image} />
    -->

    <div class="mx-auto block h-50 w-50 content-center">
      <Image
        src={PortraitWhite}
        alt="portrait white"
        class="hidden translate-y-8 rounded-lg dark:block"
        loading="lazy"
        decoding="async"
        width="200"
        height="200"
        fetchpriority="auto"
        format="webp"
      />

      <Image
        src={PortraitBlack}
        alt="portrait Black"
        class="translate-y-8 rounded-lg dark:hidden"
        loading="lazy"
        decoding="async"
        width="200"
        height="200"
        fetchpriority="auto"
        format="webp"
      />
    </div>

    <div class="mt-12">
      <MarkdownCode>
        <Markdown of={page?.content?.markdown} />
      </MarkdownCode>
    </div>

    <section class="mb-6 py-6">
      <h2 class="headline-medium pb-6">Follow me on</h2>
      <div class="container mx-auto">
        <ListSubStats items={itemsSocialStat} />
      </div>
    </section>
  </div>
</Layout>
