---
import { Image } from "astro:assets";
import { Markdown } from "@astropub/md";
import { HeroAbout, MarkdownCode, Social } from "@drowr/licid";
import Layout from "@/layouts/Layout.astro";
import { getStaticPage } from "@/lib/client";
import PortraitWhite from "@/assets/images/portrait-white.png";
import PortraitBlack from "@/assets/images/portrait-black.png";

const data = await getStaticPage("about");
const page = data.publication.staticPage;
---

<Layout
  title={page?.title}
  description={page?.seo?.description}
  author={data?.publication?.author.name}
>
  <div class="container">
    <HeroAbout title={page?.title} />

    <!--
    <img src={page?.ogMetaData?.image} />
    -->

    <div class="mx-auto block h-50 w-50 content-center">
      <Image
        src={PortraitWhite}
        alt="portrait white"
        class="hidden translate-y-8 rounded-lg dark:block"
        loading="lazy"
        decoding="async"
        width="200"
        height="200"
        fetchpriority="auto"
        format="webp"
      />

      <Image
        src={PortraitBlack}
        alt="portrait Black"
        class="translate-y-8 rounded-lg dark:hidden"
        loading="lazy"
        decoding="async"
        width="200"
        height="200"
        fetchpriority="auto"
        format="webp"
      />
    </div>

    <div class="mt-12">
      <MarkdownCode>
        <Markdown of={page?.content?.markdown} />
      </MarkdownCode>
    </div>

    <Social />
  </div>
</Layout>
