---
import { CardOutlined, HeroBlogPost } from "@drowr/licid";
import TagNavigation from "@/components/TagNavigation.astro";
import Layout from "@/layouts/Layout.astro";
import { getAllPosts } from "@/lib/client";

const data = await getAllPosts();
const allPosts = data.publication.posts.edges;

function filterPost(item) {
  const hasTheme = item.node.tags.map((tag) => tag.name).includes("themes");
  if (hasTheme) {
    return false;
  }
  return true;
}

const allPostsFiltered = allPosts.filter(filterPost);
---

<Layout>
  <div class="container pb-16">
    <HeroBlogPost />
    <TagNavigation />
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      {
        allPostsFiltered.map((post) => (
          <CardOutlined
            brief={post.node.subtitle}
            title={post.node.title}
            publishedAt={post.node.publishedAt}
            tags={post.node.tags}
            slug={post.node.slug}
          >
            <Fragment slot="header" />
            <Fragment slot="footer" />
          </CardOutlined>
        ))
      }
    </div>
  </div>
</Layout>
