---
import { CardOutlined } from "@drowr/licid";
import { getAllPosts } from "@/lib/client";

const data = await getAllPosts(5);
const allPosts = data.publication.posts.edges;

function filterPost(item) {
  const hasTheme = item.node.tags.map((tag) => tag.name).includes("themes");
  if (hasTheme) {
    return false;
  }
  return true;
}

const allPostsFiltered = allPosts.filter(filterPost);
---

<section id="recent-posts">
  <h2 class="headline-large mx-auto mb-4 max-w-4xl text-center text-pretty">
    Recents <strong class="text-primary dark:text-dark-primary"
      ><a
        href="/posts"
        label="go to posts"
        class="hover:border-b-primary dark:hover:border-b-dark-primary hover:border-b"
        >posts</a
      ></strong
    >
  </h2>
  <p class="body-small mb-12 text-center">Latest articles from the blog</p>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    <CardOutlined
      brief={allPostsFiltered[0].node.subtitle}
      title={allPostsFiltered[0].node.title}
      publishedAt={allPostsFiltered[0].node.publishedAt}
      tags={allPostsFiltered[0].node.tags}
      slug={allPostsFiltered[0].node.slug}
    />
    <CardOutlined
      brief={allPostsFiltered[1].node.subtitle}
      title={allPostsFiltered[1].node.title}
      publishedAt={allPostsFiltered[1].node.publishedAt}
      tags={allPostsFiltered[1].node.tags}
      slug={allPostsFiltered[1].node.slug}
    />
    <CardOutlined
      brief={allPostsFiltered[2].node.subtitle}
      title={allPostsFiltered[2].node.title}
      publishedAt={allPostsFiltered[2].node.publishedAt}
      tags={allPostsFiltered[2].node.tags}
      slug={allPostsFiltered[2].node.slug}
      classes="hidden lg:block"
    />
  </div>
</section>
