---
import Layout from "../../layouts/Layout.astro";
import { getAllPosts, getPost } from "../../lib/client";
import { HeroBlogPost, MarkdownCode } from "@drowr/licid";
import { Markdown } from "@astropub/md";
//import { Code } from 'astro:components';

export async function getStaticPaths() {
  const data = await getAllPosts();
  const allPosts = data.publication.posts.edges;
  return allPosts.map((post) => {
    return {
      params: { slug: post.node.slug },
    };
  });
}
const { slug } = Astro.params;
const post = await getPost(slug);
---

<Layout>
  <!--
    <title>{post.title}</title>
    -->
  <article>
    <div class="container">
      <HeroBlogPost
        tags={post.tags}
        title={post.title}
        publishedAt={post.publishedAt}
        updatedAt={post.updatedAt}
      />
      <div class="post-content">
        <!--
        <Fragment set:html={post.content.html} />

                  components={{
                  img: RemoteImage
                  }}
        -->
        <MarkdownCode>
          <Markdown of={post?.content?.markdown} />
        </MarkdownCode>
      </div>
    </div>
  </article>
</Layout>
