---
import LayoutPost from "@/layouts/LayoutPost.astro";
import Layout from "@/layouts/Layout.astro";
import { getAllPosts, getPost } from "@/lib/client";
import { HeroPost, MarkdownCode, ShareIt } from "@drowr/licid";
import { Markdown } from "@astropub/md";
import { Image } from "astro:assets";
import config from "@/config/config.json";
import Giscus from "@/blocks/Giscus.astro";

function isATheme(item) {
  const hasTheme = item.tags.map((tag) => tag.name).includes("themes");
  if (hasTheme) {
    return true;
  }
  return false;
}

export async function getStaticPaths() {
  const data = await getAllPosts();
  const allPosts = data.publication.posts.edges;
  return allPosts.map((post) => {
    return {
      params: { slug: post.node.slug },
    };
  });
}
const { slug } = Astro.params;
const post = await getPost(slug);
---

<Layout
  title={`${post.seo.title} | Drowr`}
  description={post.seo.description}
  image={post?.ogMetaData?.image}
>
  <LayoutPost>
    <article>
      <div class="container">
        <HeroPost
          tags={post.tags}
          title={post.title}
          publishedAt={post.publishedAt}
          updatedAt={post.updatedAt}
        />
        <div class="post-content">
          {
            isATheme(post) ? (
              <Image
                src={post?.ogMetaData?.image}
                alt={`Image of ${post?.title}`}
                class="rounded pb-10"
                loading="lazy"
                decoding="async"
                width="990"
                height="650"
                fetchpriority="auto"
                format="webp"
              />
            ) : (
              ""
            )
          }
          <MarkdownCode>
            <Markdown of={post?.content?.markdown} />
          </MarkdownCode>
        </div>
        <ShareIt
          url={`${config.site.base_url}/post/${slug}`}
          title={post.title}
          description={post.subtitle}
          origin={config.site.base_url}
        />
      </div>
    </article>
    <div class="container py-8">
      <Giscus />
    </div>
  </LayoutPost>
</Layout>
